body{
    color: $color-font01;
    @include montserrat;
}
h1, h2, h3{
    margin: 0;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 0.625rem;
    @media screen and (min-width: 680px) {
        padding: 0 0.9375rem;
    }
}
.header{
    @include mulish(400);
    color: $color-font01;
}

.nav{
    display: flex;
    margin: 0.3125rem 0;
    align-items: center;
    @media screen and (min-width: 500px) {
        margin: 0.9375rem 0;
    }
    &__logo{
        @media screen and (min-width: 780px) {
            padding-right: 3.125rem;
        }
    }
    .logo{
        @media screen and (min-width: 680px) {
            display: flex;
            align-items: center;
            gap: 0.375rem;
        }
        .logo-invisivle{
            display: none;  
            @media screen and (min-width: 690px) {
                display: unset
            }
        }
    }
    &__menu{
        display: flex;
        gap: 0.5625rem;
        @media screen and (min-width: 680px) {
            gap: 3.125rem;
            }
        &-link{
            font-weight: 700;
            color: $color-font01;
            display: flex;
            font-size: 11px;
            @media screen and (min-width: 500px) {
                font-size: 16px;
            }
        }
    }
    &__auth{
        display: flex;
        gap: 0.625rem;
        align-items: center;
        font-size: 12px;
        margin: 0 0 0 auto;
        @media screen and (min-width: 500px) {
            font-size: 16px;  
        }
        &-sign-in{
            font-weight: 700;
            color: $color-font01;
            display: none;
            @media screen and (min-width: 390px) {
                display: unset;
            }
            @media screen and (min-width: 800px) {
                margin-right: 30px;
            }
        }
        &-btn{
            width: 70px;
            height: 30px;
                @media screen and (min-width: 500px) {
                width: 100px;
                height: 40px;
            }
            @media screen and (min-width: 830px) {
                width: 147px;
                height: 50px;
            }
        }
    }
}
.btn{
    color: $color-white;
    border-radius: 33px;
    border: none;
    @include bgr;
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-size: 1090px 700px;
    background-repeat: no-repeat;
    &__bgr{
        background:#FAF3FF;
        width: 100%;
        height: 430px;
        position: absolute;
        top: 1;
        @media screen and (min-width: 800px) {
            height: 670px;
        }
        @media screen and (min-width: 1090px) {
            border-radius: 0px 20px 20px 0px;
            width: 1090px;
            
        }
    }
    &__video{
        display: none;
        width: 500px;
        height: 300px;
        border-radius: 20px;
        margin: 1.25rem 1.25rem;
        box-shadow: 0px 32px 44px #818A8C;
        @media screen and (min-width: 800px) {
            display: unset;
        }
        @media screen and (max-width: 1028px) {
            width: 300px;
            height: 150px;
        }
    }
    &__title{
        margin: 0;
        padding-top: 2.5rem;
        font-size: 45px;
        max-width: 460px;
        letter-spacing: -0.0625rem;
        @media screen and (min-width: 827px) {
            padding-top: 6.125rem;
            font-size: 68px;
        }
    }
    &__desc{
        max-width: 516px;
        font-size: 14px;
        line-height: 1.25rem;
        color: $color-font02;
        @media screen and (min-width: 720px) {
            line-height: 1.875rem;
            font-size: 20px;
        }
    }
    &__button{
        width: 150px;
        height: 50px;
        @media screen and (min-width: 680px) {
            width: 206px;
            height: 66px;
        }
    }
    &__users{
        padding-top: 1.875rem;
        display: flex;
        align-items: center;
        @media screen and (min-width: 800px) {
            margin-top: 6.25rem;
        }
            &-amount{
                color: $color-font02;
            }
            &-amount--colored{
                color: #9F07FF;
            }
    }
}
